body {
    background-color: black;
    color:white;
    font-family: Calibri;
}

.Bio {
    text-align:center;
}

.about-me {
    background-color: rgb(142, 53, 238);
    padding: 25px 25px 25px 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 17px;
}

.work-experience {
    background-color: rgb(142, 53, 238);
    padding-left: 25px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 17px;
}

.about-me h2 {
    display: block;
    margin: 0px;
    text-align: left;
}

.work {
    width: 30px;
    height: auto;
    margin: auto;
    cursor: pointer;
    transition: opacity 1s;
}

.work:hover {
    opacity: 0.4;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

